/************ Base styles ************/
/* Box model and font family defined */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Comic Sans MS", "Comic Sans";  /*--cursive*/
}


body {
  margin: auto 5px;
}

/*
 * Top and bottom margins definition (according to my subjective view of mockups)
 */
h1 {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;  /*1.75em*/
}

/* This is inside the "responsive" column.
 */
section {
  position: relative;
  margin: 10px;
  border: 1px solid black;
  background-color: gray;
}

/* Positioning of section title box with width and border definition. 
 */
p.title {
  position : absolute;
  top: 0%;
  right: 0%;
  width: 25%;
  border: 1px solid black;
  text-align: center;
  font-size: 1.25em;
}

/* Color to section titles
 */
#Chicken {background-color: pink;} /*#D59898- pink, #C14543-red, #E5D198 yellow*/
#Beef {background-color: red; color: white;}
#Sushi {background-color: yellow; }

/* Margin top defined align with the border
*/
p.content {
  margin-top: 1.25em;
  padding : 1em;
}

 

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop view **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }
}

/********** Mobile view **********/
@media (max-width: 767px) {
  .col-mob-12 {
    width: 100%;
    float: left;
  }
}
  
